grpcio-tools
jupyter~=1.0.0
jupyterlab~=4.1.0
kaleido~=0.2.1
keyring
matplotlib~=3.8.2
mypy-protobuf~=3.4.0
nbdev~=2.3.10
numpy~=1.26.0
pandas~=2.2.0
plotly~=5.13.0
protobuf~=4.21.12
pytest~=7.2.1
scipy~=1.12.0
tqdm
twine~=4.0.2
typing_extensions~=4.4.0
types-protobuf~=4.21.0.3
black[jupyter]~=24.2.0
-e ./operation_profile_lib
-e ./ship_performance_service_interface
-e ./ship_model_lib